<!DOCTYPE html>
<html>
    <head>
        <title>{{ site_name }} - {{ file_name }}</title>
        <meta property="og:url" content="{{ base_url }}"/>
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:image" content="{{ base_url }}/{{ image_folder }}/{{ file_name }}"/>
        <meta property="og:type" content="article"/>
        <meta data-react-helmet="true" name="theme-color" content="#A967CE"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta http-equiv="Refresh" content="0; url='{{ base_url }}/{{ image_folder }}/{{ file_name }}'"/>
    </head>
</html>
